.navbar-toggler-icon{

  background-color: rgba(255, 255, 255, 0.438);
  border: none;
}
.btn{
  color: white;
}
.btn:hover{

  color: gray;
}
.btn-2{
  border: 1px solid grey;
}

.btn-2:hover{
  border: 1px solid grey;
  color: white;
  background-color: rgba(128, 128, 128, 0.473);
}
.nav-link{
  color: white;
}

.nav-link:hover{
 color: rgba(250, 235, 215, 0.829);
}

.form-control{
  background-color: rgba(255, 255, 255, 0.274);
}

.form-control aria-label{
  color: white;
}

/* Centered text */
.centered {
  display: flex;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
border-radius: 50px;

}
.centered h5{
  display:flex;
  margin-top: 14px;
}
.button3{
  
  border: 1px white;
}


