.header{
  height: 95vh;
  min-width: 250px;
  background-size: cover;
  background: url(/assets/github-bg.webp);
}
.btn{
  color: white;
}
.btn:hover{

  color: gray;
}
.btn-2{
  border: 1px solid grey;
}

.btn-2:hover{
  border: 1px solid grey;
  color: white;
  background-color: rgba(128, 128, 128, 0.473);
}
.nav-link{
  color: white;
}

.nav-link:hover{
 color: rgba(250, 235, 215, 0.829);
}

.form-control{
  background-color: rgba(235, 220, 220, 0.486);
}

.form-control aria-label{
  color: white;
}


